h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
strong {
	display: block;
}
.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding: 20px;

	background-color: lightblue;
}
